.App {
  text-align: center;
}

#editor {
  min-width: 320px;
  min-height: 200px;
  margin: 20px auto ;
  display: block;
}

#preview {
  width: 640px;
  height:500px;
  margin: 20px auto;
  display: block;
  border-radius: 3px;
  border: 1px solid grey;
}